@mixin 
opacity($val){
    opacity: $val/100;
    filter: alpha(opacity=$val);
}
.mz-checkbox {
                        display: inline-block;
                        vertical-align: middle;
                        width: 18px;
                        height: 18px;
                        border: 1px solid #BDBDBD;
                        border-radius: 2px;
                        background-color: #fff;
                        text-align: center;
                        font-size: 10px;
                        line-height: 17px;
                        cursor: pointer;
                        margin-right: 5px;
                    }
//文件名加个下划线，则编译时scss文件时，不会编译这个文件